@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", "inter" serif;
  color: #d5bfaa;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.subtext {
  font-size: 16px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

.highlight {
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
