$mainColor: #7b1e3b;
$impactColor: #d5bfaa;
$textcolor: #2e2e2e;
$subColor: #f3e8e8;
$ctaColor: rgba(
  $color: #b03a48,
  $alpha: 0.66,
);

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.hamburger-menubar {
  background-color: rgba($color: #000000, $alpha: 0.9);
  width: 100%;
  position: absolute;
  top: -100vh;
  z-index: 99;
  height: 100vh;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.open {
  top: 0;
}
.hamburger-menubar li:hover {
  h2 {
    color: $mainColor;
  }
}

.black-bg {
  background-color: rgba($color: #000000, $alpha: 0.7);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -100vh;
  z-index: 99;
  transition: 0.5s;
}

.search-bar {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);

  input {
    border: 1px solid $subColor;
    border-radius: 50px;
    width: 600px;
    padding: 20px;
    font-size: 20px;
  }

  input:focus {
    padding-left: 40px;
    transition: opacity 0.3s;
  }

  input:focus::placeholder {
    opacity: 0;
    color: $subColor;
  }
  input::placeholder {
    padding-left: 20px;
  }
}

.search-btn {
  position: absolute;
  right: 20px;
  top: 4px;
  width: 50px;
  height: 50px;
  color: $textcolor;
  cursor: pointer;
}

.top-btn {
  width: 70px;
  height: 70px;
  background-color: $ctaColor;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 60px;
  cursor: pointer;

  img {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
  }
  h2 {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: $subColor;
    text-align: center;
  }
}
//////////////////////////////////////헤더//////////////////////////////////////////////////

#header {
  position: relative;
}

.mySwiper {
  height: 700px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-text_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  position: absolute;
  bottom: 93px;
  z-index: 99;
  right: 220px;

  h1 {
    color: $impactColor;
    text-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.25);
  }

  .box {
    color: $mainColor;
    width: 160px;
    height: 56px;
    border-radius: 40px;
    transition: all 0.3s;
    background-color: $impactColor;
    text-align: center;
    line-height: 56px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
}

.box::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -400px;
  width: 140%;
  height: 100%;
  z-index: -9;
  transition: all 0.5s;
  background-color: $mainColor;
  transform: skew(-45deg);
}

.box:hover {
  color: $impactColor;
  z-index: 99;
}

.box:hover::before {
  left: -10%;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  opacity: 10%;
  z-index: 99;
  pointer-events: none;
  position: absolute;
  left: 0;
}

.header {
  background-color: rgba($color: #0c0c0c, $alpha: 0.7);
  width: 100%;
  height: 80px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 99;
}

.header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-left {
  display: flex;
  color: $subColor;
  align-items: center;
  gap: 59px;
  transition: all 0.3s;

  h3:hover {
    color: #fff;
  }
}

.logo {
  height: 64px;
  width: 176px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;

  li {
    height: 40px;
    width: 40px;
  }

  li svg {
    stroke: #f3e8e8;
    stroke-width: 2px;
  }
  li:hover svg {
    // fill: #fff;
    stroke: #fff;
  }
}

#hamburger {
  display: none;
}

.hamburger {
  height: 30px;
  width: 40px;
  display: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f3e8e8;
    transition: all 0.3s;
  }

  span:first-child {
    top: 20%;
  }
  span:last-child {
    top: 80%;
  }
}

#hamburger:checked + .hamburger span:first-child {
  transform: rotate(45deg);
  top: 50%;
}

#hamburger:checked + .hamburger span:last-child {
  transform: rotate(-45deg);
  top: 50%;
}

////////////////////////////////////////////////////////메인 그리드///////////////////////////////////////////////////////////////

#main-grid {
  margin-top: 100px;
}

.main-tab_btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tab {
  width: 160px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: $impactColor;
  color: $mainColor;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.tab:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

  svg {
    width: 16px;
    height: 8px;
  }
}

.tab:hover {
  transform: scale(1.1);
}

.region-container {
  visibility: hidden;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  -ms-overflow-style: none;
}

.region-container::-webkit-scrollbar {
  opacity: 0;
}
.category-tab {
  @extend .tab;
}

.category-tab:hover {
  transform: scale(1.1);
}

.on {
  background-color: $ctaColor;
  color: $impactColor;
  stroke: #d5bfaa;
}

.main-grid {
  max-width: 1440px;
  max-height: 1110px;
  margin: 50px auto;
}

.grid-slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repaet(2, 1fr);
  gap: 20px;
  overflow: hidden;
}
.main-prev {
  width: 20px;
  height: 20px;
  position: absolute;
  display: none;
}

.main-next {
  width: 20px;
  height: 20px;
  position: absolute;
  display: none;
}
.main-grid_item {
  width: 464px;
  height: 540px;
  border-radius: 10px;
  background: $impactColor;
  background-repeat: no-repeat;
  padding: 20px 32px;
  display: flex;
}

.main-grid_detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 130px;
}

.main-grid_mainimg {
  z-index: 9;
}

.main-grid_top {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  height: 170px;
  justify-content: flex-start;
  text-align: right;
}

.main-grid_region {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
}

.main-grid_img {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: $impactColor;
}

.main-grid_bottom {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.main-grid_rank {
  display: flex;
  justify-content: flex-end;
  gap: 4px;

  div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.main-grid_btn {
  width: 135px;
  height: 45px;
  line-height: 45px;
  background-color: $mainColor;
  color: $impactColor;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.main-grid_more {
  border: 2px solid $impactColor;
  border-radius: 20px;
  width: 220px;
  height: 67px;
  margin: 0 auto;
  text-align: center;
  line-height: 67px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;

  h2 {
    font-size: 20px;
    color: $impactColor;
  }
}

.main-grid_more:hover {
  transform: scale(1.1);
}

.main-grid_btn:hover {
  transform: scale(1.1);
}

//////////////////////////////////////////슬라이드 섹션/////////////////////////////////////////////////////

.slide-wrap {
  position: relative;
}

.slide-container {
  margin: 25px auto;
  width: 1207px;
  height: 550px;
  overflow: hidden;
}

.prev-btn {
  position: absolute;
  left: -5%;
  bottom: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.next-btn {
  position: absolute;
  right: -5%;
  bottom: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.slide-box {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  gap: 86px;
  transform: translateX(0);
  transition: all 0.3s;
}

.slide-item {
  width: 100%;
  height: 100%;
}

.slide-item_img {
  width: 345px;
  height: 340px;
  padding: 20px 0px;
  border-radius: 10px;
  object-fit: contain;
  background-color: $impactColor;
}

.slide-item:last-child {
  position: relative;
}

.slide-item:last-child::after {
  content: "";
  display: block;
  background: url(../image/Subtract.png) no-repeat center;
  cursor: pointer;
  height: 111px;
  width: 68px;
  position: absolute;
  right: -50%;
  top: 25%;
  transform: translateY(-25%);
}

.slide-item_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide-item_text {
  margin-top: 25px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $impactColor;
  text-align: center;
  gap: 10px;
}

.slide-item_btn {
  border: 0.5px solid $impactColor;
  border-radius: 10px;
  width: 150px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  // overflow: hidden;
  margin: 20px auto;
  transition: all 0.3s;
  text-align: center;
  color: $impactColor;
}

.slide-item_btn:hover {
  transform: scale(1.1);
}

.wine {
  max-width: 1200px;
  margin: 60px auto;
}

// //////////////////////////////////////////////이벤트 탭////////////////////////////////////////////////

.test-container {
  width: 100%;
  height: 380px;
  background: linear-gradient(to bottom, #7b1e3b, #8b0000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 80px;
  color: $impactColor;
}

.test-btn {
  width: 224px;
  height: 60px;
  border-radius: 50px;
  color: $mainColor;
  background-color: $impactColor;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.3s;
}

.test-btn:hover {
  transform: scale(1.1);
}

.event-wrap {
  background-color: $impactColor;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.test-review {
  display: flex;
  gap: 20px;
}

.test-review_img {
  width: 50%;
  height: 350px;
  background: url(../image/bottles.jpg) no-repeat;
}

.test-review_text {
  display: flex;
  flex-direction: column;
  gap: 55px;
  color: $mainColor;
  h2 {
    color: #7b1e3b;
  }
}

.test-review_undertext {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  svg {
    padding-top: 20px;
    transition: 0.3s;
  }

  p {
    color: #7b1e3b;
  }
}

.test-review_undertext:hover {
  transform: scale(1.1);
  padding-left: 10px;
}

.paring {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;

  h2 {
    color: #7b1e3b;
  }
}

.paring_img {
  background: url(../image/cheese.jpg) no-repeat;
  width: 50%;
  height: 350px;
}

.paring_text {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 55px;
  color: $mainColor;
}

.paring_undertext {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.3s;
  text-align: right;
  justify-content: flex-end;
  color: $mainColor;
  cursor: pointer;
  svg {
    margin-top: 20px;
    transition: all 0.3s;
  }

  p {
    color: #7b1e3b;
  }
}

.paring_undertext:hover {
  transform: scale(1.1);
  padding-right: 10px;
}

// /////////////////////////////////////////////푸터///////////////////////////////////////////////////

#footer {
  background-color: #2e0f1a;
}

.bottom-container {
  max-width: 1680px;
  margin: 0 auto;

  .logo {
    padding-top: 40px;
    width: 180px;
    height: 65px;
    padding-right: 50px;
  }
}

.information {
  color: $subColor;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.information-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.information-center {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.information-center .subtext {
  transition: all 0.3s;
}
.information-center .subtext:hover {
  color: #fff;
}

.information-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 403px;

  input {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid $subColor;
    color: inherit;
    font-size: 30px;
  }
}

.subscribe {
  width: 100%;
  height: 45px;
  background: $textcolor;
  text-align: center;
  line-height: 45px;
  cursor: not-allowed;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.app {
  display: flex;
  gap: 30px;

  svg {
    width: 168px;
    height: 48px;
    cursor: pointer;
  }
}

.sns {
  display: flex;
  align-items: center;
  gap: 15px;
  color: $subColor;
}

.app-icon {
  width: 60px;
}

@media screen and (max-width: 1439px) {
  .container {
    max-width: 859px;
  }

  .main-grid {
    max-width: 1024px;
  }
  .grid-slide {
    grid-template-columns: (repeat(2, 1fr));
    grid-template-rows: (repeat(2, 1fr));
  }

  .slide-container {
    max-width: 859px;
  }

  .slide-item_img {
    width: 249px;
    height: 315px;
  }

  .slide-item_text {
    height: 120%;
  }
  .slide-box {
    gap: 56px;
  }

  .prev-btn {
    left: -10%;
    bottom: 55%;
    transform: translateY(-55%);
  }
  .next-btn {
    right: -10%;
    bottom: 55%;
    transform: translateY(-55%);
  }
  .wine {
    max-width: 859px;
  }
  .bottom-container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .header-left h3 {
    display: none;
  }

  .header-right svg {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .main-text_box {
    right: 80px;
  }

  .main-grid {
    max-height: 854px;
    max-width: 768px;
  }
  .main-grid_item {
    width: 362px;
    height: 417px;
  }

  .slide-wrap {
    max-width: 768px;
  }

  .slide-container {
    max-width: 668px;
    height: 100%;
  }

  .slide-item_text {
    margin-top: 8px;
    height: 100px;
    justify-content: space-between;
    h3 {
      font-size: 18px;
    }
  }

  .slide-item_img {
    width: 210px;
    height: 281px;
  }

  .prev-btn {
    left: 0;
    bottom: 60%;
    transform: translateY(-60%);
  }
  .next-btn {
    right: 0;
    bottom: 60%;
    transform: translateY(-60%);
  }
  .slide-box {
    gap: 16px;
  }
  .wine {
    max-width: 768px;
  }
  .test-review {
    flex-direction: column-reverse;
  }
  .test-review_img {
    width: 100%;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
  }
  .test-review_text {
    margin-left: 30px;
    gap: 24px;
  }
  .test-review_undertext {
    display: none;
  }
  .paring {
    flex-direction: column-reverse;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .paring_img {
    width: 100%;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
  }
  .paring_text {
    margin-right: 30px;
    gap: 24px;
  }

  .paring_undertext {
    display: none;
  }
  .information {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
  }
  .information-center {
    flex-direction: row;
    gap: 24px;
  }
  .information-right {
    text-align: left;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    min-width: 375px;
  }

  .logo {
    height: 84px;
    width: 84px;
  }

  .header {
    padding: 30px;
  }
  .hamburger {
    width: 20px;
    height: 20px;
  }

  .hamburger_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-btn {
    right: 20px;
  }
  .search-bar {
    input {
      border-radius: 50px;
      width: 300px;
      padding: 20px;
      font-size: 12px;
    }
  }

  .search-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 30px;
    height: 30px;
    color: $textcolor;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .mySwiper {
    height: 500px;
  }
  .swiper-slide img {
    object-fit: cover;
  }
  .main-text_box {
    right: 10px;
    .box {
      width: 80px;
      height: 40px;
      line-height: 40px;
    }
    h3 {
      font-size: 18px;
    }
  }

  #main-grid {
    margin-top: 40px;
    position: relative;
  }
  .main-tab_btn {
    gap: 50px;
  }
  .tab {
    width: 120px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;

    h3 {
      font-size: 16px;
    }
  }

  .region-container {
    overflow-x: scroll;
    padding-left: 50px;
    padding-bottom: 10px;
  }

  .category-tab {
    width: auto;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    h3 {
      font-size: 14px;
    }
  }

  .main-grid {
    width: 275px;
    height: 417px;
    margin: 20px auto;
    display: flex;
    flex-wrap: nowrap;
  }

  .grid-slide {
    display: flex;
    gap: 20px;
    transform: translateX(0);
    transition: all 0.3s;
  }

  .main-grid_item {
    width: 275px;
    flex-direction: column;
  }

  .main-prev {
    display: block;
    width: 40px;
    height: 40px;
    left: 10%;
    top: 50%;
    cursor: pointer;
  }

  .main-next {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 50%;
    right: 10%;
  }

  .main-grid_mainimg {
    width: 100%;
    height: 200px;
    img {
      object-fit: contain;
    }
  }

  .main-grid_detail {
    align-items: flex-end;
    gap: 20px;
    p {
      font-size: 12px;
    }
    h3 {
      font-size: 16px;
    }
  }

  .main-grid_top {
    height: auto;
  }
  .main-grid_bottom {
    align-items: flex-end;
    gap: 4px;
    h3 {
      font-size: 16px;
    }
    span {
      font-size: 12px;
    }
  }

  .main-grid_btn {
    width: 112px;
    height: 32px;
    line-height: 32px;
    border-radius: 10px;
  }

  .main-grid_more {
    width: 180px;
    height: 64px;
    line-height: 64px;

    h2 {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .slide-container {
    max-width: 220px;
    height: 100%;
  }

  .wine {
    max-width: 375px;
    h2 {
      font-size: 20px;
    }
  }

  .event-wrap {
    display: none;
  }

  .bottom-container {
    max-width: 375px;
    margin: 0 auto;
  }

  .information-right {
    width: 300px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }

  .app {
    display: none;
  }
}
