$mainColor: #7b1e3b;
$impactColor: #d5bfaa;
$textcolor: #2e2e2e;
$subColor: #f3e8e8;
$ctaColor: rgba(
  $color: #b03a48,
  $alpha: 0.66,
);

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.black-bg {
  background-color: rgba($color: #000000, $alpha: 0.7);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -100vh;
  z-index: 99;
  transition: 0.5s;
}

.search-bar {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);

  input {
    border: 1px solid $ctaColor;
    border-radius: 50px;
    width: 600px;
    padding: 20px;
    font-size: 20px;
  }

  input:focus {
    padding-left: 40px;
    transition: opacity 0.3s;
  }

  input:focus::placeholder {
    opacity: 0;
  }
  input::placeholder {
    padding-left: 20px;
  }
}

.search-btn {
  position: absolute;
  right: 20px;
  top: 4px;
  width: 50px;
  height: 50px;
  color: $textcolor;
  cursor: pointer;
}

//////////////////////////////////////헤더//////////////////////////////////////////////////

#header {
  position: relative;
}

.mySwiper {
  width: 1920px;
  height: 700px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-text_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  position: absolute;
  bottom: 93px;
  z-index: 99;
  right: 220px;

  h1 {
    color: $impactColor;
    text-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.25);
  }

  .box {
    color: $mainColor;
    width: 160px;
    height: 56px;
    border-radius: 40px;

    background-color: $impactColor;
    text-align: center;
    line-height: 56px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
}

.box::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -400px;
  width: 140%;
  height: 100%;
  z-index: -9;
  transition: all 0.5s;
  background-color: $mainColor;
  transform: skew(-45deg);
}

.box:hover {
  color: $impactColor;
  z-index: 99;
}

.box:hover::before {
  left: -10%;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  opacity: 10%;
  z-index: 99;
  pointer-events: none;
  position: absolute;
  left: 0;
}

.header {
  background-color: rgba($color: #0c0c0c, $alpha: 0.3);
  width: 100%;
  height: 80px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 99;
}

.header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-left {
  display: flex;
  color: $subColor;
  align-items: center;
  gap: 59px;
  transition: all 0.3s;

  h3:hover {
    color: #fff;
  }
}

.logo {
  height: 64px;
  width: 176px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;

  li {
    height: 40px;
    width: 40px;
  }

  li svg {
    stroke: #f3e8e8;
    stroke-width: 2px;
  }
  li:hover svg {
    // fill: #fff;
    stroke: #fff;
  }
}

////////////////////////////////////////////////////////메인 그리드///////////////////////////////////////////////////////////////

#main-grid {
  margin-top: 100px;
}

.main-tab_btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tab {
  width: 160px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: $impactColor;
  color: $mainColor;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.tab:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

  svg {
    width: 16px;
    height: 8px;
  }
}

.tab:hover {
  transform: scale(1.1);
}

.region-container {
  visibility: hidden;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.category-tab {
  @extend .tab;
}

.category-tab:hover {
  transform: scale(1.1);
}

.on {
  background-color: $ctaColor;
  color: $impactColor;
  stroke: #d5bfaa;
}

.main-grid {
  max-width: 1440px;
  max-height: 1110px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repaet(2, 1fr);
  gap: 20px;
  overflow: hidden;
}

.main-grid_item {
  width: 464px;
  height: 540px;
  border-radius: 10px;
  background: $impactColor;
  background-repeat: no-repeat;
  padding: 20px 32px;
  display: flex;
}

.main-grid_detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 130px;
}

.main-grid_mainimg {
  z-index: 99;
}

.main-grid_top {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  height: 170px;
  justify-content: flex-start;
  text-align: right;
}

.main-grid_region {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
}

.main-grid_img {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: $impactColor;
}

.main-grid_bottom {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.main-grid_rank {
  display: flex;
  justify-content: flex-end;
  gap: 4px;

  div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.main-grid_btn {
  width: 135px;
  height: 45px;
  line-height: 45px;
  background-color: $mainColor;
  color: $impactColor;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}

.main-grid_more {
  border: 2px solid $impactColor;
  border-radius: 20px;

  width: 220px;
  height: 67px;
  margin: 0 auto;
  text-align: center;
  line-height: 67px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;

  h2 {
    font-size: 20px;
    color: $impactColor;
  }
}

.main-grid_more:hover {
  transform: scale(1.1);
}

//////////////////////////////////////////슬라이드 섹션/////////////////////////////////////////////////////

.slide-wrap {
  position: relative;
}

.slide-container {
  margin-top: 25px;
  width: 1440px;
  height: 550px;
  overflow: hidden;
}

.slide-box {
  width: 25%;
  height: 340px;
  object-fit: contain;
  display: flex;
  gap: 20px;
  transform: translateX(0);
  transition: all 0.3s;
}

.slide-item:last-child {
  position: relative;
}
.prev-btn {
  position: absolute;
  left: -5%;
  bottom: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.next-btn {
  position: absolute;
  cursor: pointer;
  right: -5%;
  bottom: 50%;
  transform: translateY(-50%);
}

.slide-item:last-child::after {
  content: "";
  display: block;
  background: url(../image/Subtract.png) no-repeat center;
  cursor: pointer;
  height: 111px;
  width: 68px;
  position: absolute;
  right: -50%;
  top: 50%;
  transform: translateY(-50%);
}
.slide-item_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide-item_img {
  width: 345px;
  height: 340px;
  padding: 20px 0px;
  border-radius: 10px;
  object-fit: contain;
  background-color: $impactColor;
}

.slide-item_text {
  margin-top: 25px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $impactColor;
  text-align: center;
  gap: 10px;
}

.slide-item_btn {
  border: 0.5px solid $impactColor;
  border-radius: 10px;
  width: 150px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}

.slide-item_btn:hover {
  transform: scale(1.1);
}

.wine {
  margin: 60px 0;
}

// //////////////////////////////////////////////이벤트 탭////////////////////////////////////////////////

.test-container {
  width: 100%;
  height: 380px;
  background: linear-gradient(to bottom, #7b1e3b, #8b0000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 80px;
  color: $impactColor;
}

.test-btn {
  width: 224px;
  height: 60px;
  border-radius: 50px;
  color: $mainColor;
  background-color: $impactColor;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.3s;
}

.test-btn:hover {
  transform: scale(1.1);
}

.event-wrap {
  background-color: $impactColor;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.test-review {
  display: flex;
  gap: 20px;
}

.test-review_img {
  width: 50%;
  height: 350px;
  background: url(../image/bottles.jpg) no-repeat;
}

.test-review_text {
  display: flex;
  flex-direction: column;
  gap: 55px;
  color: $mainColor;
  h2 {
    color: #7b1e3b;
  }
}

.test-review_undertext {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  svg {
    padding-top: 20px;
    transition: 0.3s;
  }

  p {
    color: #7b1e3b;
  }
}

.test-review_undertext:hover {
  transform: scale(1.1);
  padding-left: 10px;
}

.paring {
  display: flex;
  gap: 20px;
  justify-content: flex-end;

  h2 {
    color: #7b1e3b;
  }
}

.paring_img {
  background: url(../image/cheese.jpg) no-repeat;
  width: 50%;
  height: 350px;
}

.paring_text {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 55px;
  color: $mainColor;
}

.paring_undertext {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.3s;
  text-align: right;
  justify-content: flex-end;
  color: $mainColor;
  cursor: pointer;
  svg {
    margin-top: 20px;
    transition: all 0.3s;
  }

  p {
    color: #7b1e3b;
  }
}

.paring_undertext:hover {
  transform: scale(1.1);
  padding-right: 10px;
}

// /////////////////////////////////////////////푸터///////////////////////////////////////////////////

#footer {
  background-color: #2e0f1a;
}

.bottom-container {
  max-width: 1680px;
  margin: 0 auto;

  .logo {
    padding-top: 40px;
    width: 180px;
    height: 65px;
    padding-right: 50px;
  }
}

.information {
  color: $subColor;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.information-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.information-center {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.information-center .subtext {
  transition: all 0.3s;
}
.information-center .subtext:hover {
  color: #fff;
}

.information-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 403px;

  input {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid $subColor;
    color: inherit;
    font-size: 30px;
  }
}

.subscribe {
  width: 100%;
  height: 45px;
  background: $textcolor;
  text-align: center;
  line-height: 45px;
  cursor: not-allowed;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.app {
  display: flex;
  gap: 30px;

  svg {
    width: 168px;
    height: 48px;
    cursor: pointer;
  }
}

.sns {
  display: flex;
  align-items: center;
  gap: 15px;
  color: $subColor;
}

.app-icon {
  width: 60px;
}
