.container {
  max-width: 1440px;
  margin: 0 auto;
}

.hamburger-menubar {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: absolute;
  top: -100vh;
  z-index: 99;
  height: 100vh;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.open {
  top: 0;
}

.hamburger-menubar li:hover h2 {
  color: #7b1e3b;
}

.black-bg {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -100vh;
  z-index: 99;
  transition: 0.5s;
}

.search-bar {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}
.search-bar input {
  border: 1px solid #f3e8e8;
  border-radius: 50px;
  width: 600px;
  padding: 20px;
  font-size: 20px;
}
.search-bar input:focus {
  padding-left: 40px;
  transition: opacity 0.3s;
}
.search-bar input:focus::-moz-placeholder {
  opacity: 0;
  color: #f3e8e8;
}
.search-bar input:focus::placeholder {
  opacity: 0;
  color: #f3e8e8;
}
.search-bar input::-moz-placeholder {
  padding-left: 20px;
}
.search-bar input::placeholder {
  padding-left: 20px;
}

.search-btn {
  position: absolute;
  right: 20px;
  top: 4px;
  width: 50px;
  height: 50px;
  color: #2e2e2e;
  cursor: pointer;
}

.top-btn {
  width: 70px;
  height: 70px;
  background-color: rgba(176, 58, 72, 0.66);
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 60px;
  cursor: pointer;
}
.top-btn img {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.top-btn h2 {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #f3e8e8;
  text-align: center;
}

#header {
  position: relative;
}

.mySwiper {
  height: 700px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-text_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  position: absolute;
  bottom: 93px;
  z-index: 99;
  right: 220px;
}
.main-text_box h1 {
  color: #d5bfaa;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.main-text_box .box {
  color: #7b1e3b;
  width: 160px;
  height: 56px;
  border-radius: 40px;
  transition: all 0.3s;
  background-color: #d5bfaa;
  text-align: center;
  line-height: 56px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.box::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -400px;
  width: 140%;
  height: 100%;
  z-index: -9;
  transition: all 0.5s;
  background-color: #7b1e3b;
  transform: skew(-45deg);
}

.box:hover {
  color: #d5bfaa;
  z-index: 99;
}

.box:hover::before {
  left: -10%;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #7b1e3b;
  opacity: 10%;
  z-index: 99;
  pointer-events: none;
  position: absolute;
  left: 0;
}

.header {
  background-color: rgba(12, 12, 12, 0.7);
  width: 100%;
  height: 80px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 99;
}

.header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-left {
  display: flex;
  color: #f3e8e8;
  align-items: center;
  gap: 59px;
  transition: all 0.3s;
}
.header-left h3:hover {
  color: #fff;
}

.logo {
  height: 64px;
  width: 176px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-right li {
  height: 40px;
  width: 40px;
}
.header-right li svg {
  stroke: #f3e8e8;
  stroke-width: 2px;
}
.header-right li:hover svg {
  stroke: #fff;
}

#hamburger {
  display: none;
}

.hamburger {
  height: 30px;
  width: 40px;
  display: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.hamburger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f3e8e8;
  transition: all 0.3s;
}
.hamburger span:first-child {
  top: 20%;
}
.hamburger span:last-child {
  top: 80%;
}

#hamburger:checked + .hamburger span:first-child {
  transform: rotate(45deg);
  top: 50%;
}

#hamburger:checked + .hamburger span:last-child {
  transform: rotate(-45deg);
  top: 50%;
}

#main-grid {
  margin-top: 100px;
}

.main-tab_btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tab, .category-tab {
  width: 160px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #d5bfaa;
  color: #7b1e3b;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.tab:last-child, .category-tab:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.tab:last-child svg, .category-tab:last-child svg {
  width: 16px;
  height: 8px;
}

.tab:hover, .category-tab:hover {
  transform: scale(1.1);
}

.region-container {
  visibility: hidden;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  -ms-overflow-style: none;
}

.region-container::-webkit-scrollbar {
  opacity: 0;
}

.category-tab:hover {
  transform: scale(1.1);
}

.on {
  background-color: rgba(176, 58, 72, 0.66);
  color: #d5bfaa;
  stroke: #d5bfaa;
}

.main-grid {
  max-width: 1440px;
  max-height: 1110px;
  margin: 50px auto;
}

.grid-slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repaet(2, 1fr);
  gap: 20px;
  overflow: hidden;
}

.main-prev {
  width: 20px;
  height: 20px;
  position: absolute;
  display: none;
}

.main-next {
  width: 20px;
  height: 20px;
  position: absolute;
  display: none;
}

.main-grid_item {
  width: 464px;
  height: 540px;
  border-radius: 10px;
  background: #d5bfaa;
  background-repeat: no-repeat;
  padding: 20px 32px;
  display: flex;
}

.main-grid_detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 130px;
}

.main-grid_mainimg {
  z-index: 9;
}

.main-grid_top {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  height: 170px;
  justify-content: flex-start;
  text-align: right;
}

.main-grid_region {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
}

.main-grid_img {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #d5bfaa;
}

.main-grid_bottom {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.main-grid_rank {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}
.main-grid_rank div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.main-grid_btn {
  width: 135px;
  height: 45px;
  line-height: 45px;
  background-color: #7b1e3b;
  color: #d5bfaa;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.main-grid_more {
  border: 2px solid #d5bfaa;
  border-radius: 20px;
  width: 220px;
  height: 67px;
  margin: 0 auto;
  text-align: center;
  line-height: 67px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.main-grid_more h2 {
  font-size: 20px;
  color: #d5bfaa;
}

.main-grid_more:hover {
  transform: scale(1.1);
}

.main-grid_btn:hover {
  transform: scale(1.1);
}

.slide-wrap {
  position: relative;
}

.slide-container {
  margin: 25px auto;
  width: 1207px;
  height: 550px;
  overflow: hidden;
}

.prev-btn {
  position: absolute;
  left: -5%;
  bottom: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.next-btn {
  position: absolute;
  right: -5%;
  bottom: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.slide-box {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  gap: 86px;
  transform: translateX(0);
  transition: all 0.3s;
}

.slide-item {
  width: 100%;
  height: 100%;
}

.slide-item_img {
  width: 345px;
  height: 340px;
  padding: 20px 0px;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #d5bfaa;
}

.slide-item:last-child {
  position: relative;
}

.slide-item:last-child::after {
  content: "";
  display: block;
  background: url(../image/Subtract.png) no-repeat center;
  cursor: pointer;
  height: 111px;
  width: 68px;
  position: absolute;
  right: -50%;
  top: 25%;
  transform: translateY(-25%);
}

.slide-item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slide-item_text {
  margin-top: 25px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #d5bfaa;
  text-align: center;
  gap: 10px;
}

.slide-item_btn {
  border: 0.5px solid #d5bfaa;
  border-radius: 10px;
  width: 150px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  margin: 20px auto;
  transition: all 0.3s;
  text-align: center;
  color: #d5bfaa;
}

.slide-item_btn:hover {
  transform: scale(1.1);
}

.wine {
  max-width: 1200px;
  margin: 60px auto;
}

.test-container {
  width: 100%;
  height: 380px;
  background: linear-gradient(to bottom, #7b1e3b, #8b0000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 80px;
  color: #d5bfaa;
}

.test-btn {
  width: 224px;
  height: 60px;
  border-radius: 50px;
  color: #7b1e3b;
  background-color: #d5bfaa;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.3s;
}

.test-btn:hover {
  transform: scale(1.1);
}

.event-wrap {
  background-color: #d5bfaa;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.test-review {
  display: flex;
  gap: 20px;
}

.test-review_img {
  width: 50%;
  height: 350px;
  background: url(../image/bottles.jpg) no-repeat;
}

.test-review_text {
  display: flex;
  flex-direction: column;
  gap: 55px;
  color: #7b1e3b;
}
.test-review_text h2 {
  color: #7b1e3b;
}

.test-review_undertext {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}
.test-review_undertext svg {
  padding-top: 20px;
  transition: 0.3s;
}
.test-review_undertext p {
  color: #7b1e3b;
}

.test-review_undertext:hover {
  transform: scale(1.1);
  padding-left: 10px;
}

.paring {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}
.paring h2 {
  color: #7b1e3b;
}

.paring_img {
  background: url(../image/cheese.jpg) no-repeat;
  width: 50%;
  height: 350px;
}

.paring_text {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 55px;
  color: #7b1e3b;
}

.paring_undertext {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.3s;
  text-align: right;
  justify-content: flex-end;
  color: #7b1e3b;
  cursor: pointer;
}
.paring_undertext svg {
  margin-top: 20px;
  transition: all 0.3s;
}
.paring_undertext p {
  color: #7b1e3b;
}

.paring_undertext:hover {
  transform: scale(1.1);
  padding-right: 10px;
}

#footer {
  background-color: #2e0f1a;
}

.bottom-container {
  max-width: 1680px;
  margin: 0 auto;
}
.bottom-container .logo {
  padding-top: 40px;
  width: 180px;
  height: 65px;
  padding-right: 50px;
}

.information {
  color: #f3e8e8;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.information-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.information-center {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.information-center .subtext {
  transition: all 0.3s;
}

.information-center .subtext:hover {
  color: #fff;
}

.information-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 403px;
}
.information-right input {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #f3e8e8;
  color: inherit;
  font-size: 30px;
}

.subscribe {
  width: 100%;
  height: 45px;
  background: #2e2e2e;
  text-align: center;
  line-height: 45px;
  cursor: not-allowed;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.app {
  display: flex;
  gap: 30px;
}
.app svg {
  width: 168px;
  height: 48px;
  cursor: pointer;
}

.sns {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #f3e8e8;
}

.app-icon {
  width: 60px;
}

@media screen and (max-width: 1439px) {
  .container {
    max-width: 859px;
  }
  .main-grid {
    max-width: 1024px;
  }
  .grid-slide {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .slide-container {
    max-width: 859px;
  }
  .slide-item_img {
    width: 249px;
    height: 315px;
  }
  .slide-item_text {
    height: 120%;
  }
  .slide-box {
    gap: 56px;
  }
  .prev-btn {
    left: -10%;
    bottom: 55%;
    transform: translateY(-55%);
  }
  .next-btn {
    right: -10%;
    bottom: 55%;
    transform: translateY(-55%);
  }
  .wine {
    max-width: 859px;
  }
  .bottom-container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .header-left h3 {
    display: none;
  }
  .header-right svg {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .main-text_box {
    right: 80px;
  }
  .main-grid {
    max-height: 854px;
    max-width: 768px;
  }
  .main-grid_item {
    width: 362px;
    height: 417px;
  }
  .slide-wrap {
    max-width: 768px;
  }
  .slide-container {
    max-width: 668px;
    height: 100%;
  }
  .slide-item_text {
    margin-top: 8px;
    height: 100px;
    justify-content: space-between;
  }
  .slide-item_text h3 {
    font-size: 18px;
  }
  .slide-item_img {
    width: 210px;
    height: 281px;
  }
  .prev-btn {
    left: 0;
    bottom: 60%;
    transform: translateY(-60%);
  }
  .next-btn {
    right: 0;
    bottom: 60%;
    transform: translateY(-60%);
  }
  .slide-box {
    gap: 16px;
  }
  .wine {
    max-width: 768px;
  }
  .test-review {
    flex-direction: column-reverse;
  }
  .test-review_img {
    width: 100%;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
  }
  .test-review_text {
    margin-left: 30px;
    gap: 24px;
  }
  .test-review_undertext {
    display: none;
  }
  .paring {
    flex-direction: column-reverse;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .paring_img {
    width: 100%;
    height: 200px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
  }
  .paring_text {
    margin-right: 30px;
    gap: 24px;
  }
  .paring_undertext {
    display: none;
  }
  .information {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
  }
  .information-center {
    flex-direction: row;
    gap: 24px;
  }
  .information-right {
    text-align: left;
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    min-width: 375px;
  }
  .logo {
    height: 84px;
    width: 84px;
  }
  .header {
    padding: 30px;
  }
  .hamburger {
    width: 20px;
    height: 20px;
  }
  .hamburger_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-btn {
    right: 20px;
  }
  .search-bar input {
    border-radius: 50px;
    width: 300px;
    padding: 20px;
    font-size: 12px;
  }
  .search-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 30px;
    height: 30px;
    color: #2e2e2e;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .mySwiper {
    height: 500px;
  }
  .swiper-slide img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-text_box {
    right: 10px;
  }
  .main-text_box .box {
    width: 80px;
    height: 40px;
    line-height: 40px;
  }
  .main-text_box h3 {
    font-size: 18px;
  }
  #main-grid {
    margin-top: 40px;
    position: relative;
  }
  .main-tab_btn {
    gap: 50px;
  }
  .tab, .category-tab {
    width: 120px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .tab h3, .category-tab h3 {
    font-size: 16px;
  }
  .region-container {
    overflow-x: scroll;
    padding-left: 50px;
    padding-bottom: 10px;
  }
  .category-tab {
    width: auto;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
  }
  .category-tab h3 {
    font-size: 14px;
  }
  .main-grid {
    width: 275px;
    height: 417px;
    margin: 20px auto;
    display: flex;
    flex-wrap: nowrap;
  }
  .grid-slide {
    display: flex;
    gap: 20px;
    transform: translateX(0);
    transition: all 0.3s;
  }
  .main-grid_item {
    width: 275px;
    flex-direction: column;
  }
  .main-prev {
    display: block;
    width: 40px;
    height: 40px;
    left: 10%;
    top: 50%;
    cursor: pointer;
  }
  .main-next {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 50%;
    right: 10%;
  }
  .main-grid_mainimg {
    width: 100%;
    height: 200px;
  }
  .main-grid_mainimg img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main-grid_detail {
    align-items: flex-end;
    gap: 20px;
  }
  .main-grid_detail p {
    font-size: 12px;
  }
  .main-grid_detail h3 {
    font-size: 16px;
  }
  .main-grid_top {
    height: auto;
  }
  .main-grid_bottom {
    align-items: flex-end;
    gap: 4px;
  }
  .main-grid_bottom h3 {
    font-size: 16px;
  }
  .main-grid_bottom span {
    font-size: 12px;
  }
  .main-grid_btn {
    width: 112px;
    height: 32px;
    line-height: 32px;
    border-radius: 10px;
  }
  .main-grid_more {
    width: 180px;
    height: 64px;
    line-height: 64px;
  }
  .main-grid_more h2 {
    font-size: 16px;
    font-weight: 500;
  }
  .slide-container {
    max-width: 220px;
    height: 100%;
  }
  .wine {
    max-width: 375px;
  }
  .wine h2 {
    font-size: 20px;
  }
  .event-wrap {
    display: none;
  }
  .bottom-container {
    max-width: 375px;
    margin: 0 auto;
  }
  .information-right {
    width: 300px;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  .app {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */